body {
  /* overflow-x: hidden; */
  background-color: #2C303A !important;
}
::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: rgb(33,37,41);
    border-radius: 50px; 
  }



/* Garantir que o carrossel ocupe a largura correta */
.swiper-container {
    margin-top:30px;
    background-color: #222121;
    width: 100%;
    height: 300px; /* Ajuste de altura para as imagens */
}

.swiper-slide img {
    width: 230px; /* Reduzido para diminuir o tamanho das imagens */
    height: 280px; /* Ajuste do tamanho das imagens */
    object-fit: cover; /* Garantir que a imagem não distorça */
    margin-top: 10px;
    border-radius: 20px;
    -webkit-filter: sepia(50%) brightness(80%) contrast(120%);
    border: 3px solid black;
}

/* Escondendo as setas de navegação */
.swiper-button-next,
.swiper-button-prev {
    display: none !important; /* Isso vai esconder as setas */
}

.coracao_menu{
  width: 50px;
  height: 50px;
}